<p id="notice"><%= notice %></p>

<h1><small>Welcome <%= current_user.email %>, </small>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Street address</th>
      <th>City</th>
      <th>Country code</th>
      <th>Bed count</th>
      <th>Bedroom count</th>
      <th>Bathroom count</th>
      <th>Description</th>
      <th>Night fee cents</th>
      <th>Cleaning fee cents</th>
      <th>Host</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing %></td>
        <td><%= listing.street_address %></td>
        <td><%= listing.city %></td>
        <td><%= listing.country_code %></td>
        <td><%= listing.bed_count %></td>
        <td><%= listing.bedroom_count %></td>
        <td><%= listing.bathroom_count %></td>
        <td><%= listing.description %></td>
        <td><%= listing.night_fee_cents %></td>
        <td><%= listing.cleaning_fee_cents %></td>
        <td><%= listings_email(listing) %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<details>
  <summary>
    <h2>European Listings</h2>
  </summary> 
    <%= render @europe_listings %>
</details>

<details>
  <summary>
    <h2>Over $100 Listings</h2>
  </summary> 
    <%= render @over_100_listings %>
</details>

<details>
  <summary>
    <h2>European Listings under $100</h2>
  </summary> 
    <%= render @europe_under_100_listings %>
</details>


<br>


<div>
  <%= link_to 'New Listing', new_listing_path, class: 'btn btn-primary' %>
  <% if user_signed_in? %>
    <%= link_to 'Edit account', edit_user_registration_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-light', method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-primary' %>
    <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
  <% end %>
</div>
